.wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5% 5% 25% 25%;
}

.flex-v {
    align-items: flex-start;
    align-self: center;
    text-align: center;
    padding: 0 20%;
}

.question-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: .2rem;
  margin: 0;
}

button {
  margin: 0.5rem 1rem;
}

@media(max-width: 800px) {
  .flex-v {
    padding: 0;
    align-items: center;
  }

  .wrapper {
    border-radius: 0;
  }
}
