<div class="wrapper">
  <p *ngIf="selectedQuestion !== null" class="question-title">
    {{selectedQuestion.Text}}
  </p>
  <div class="flex-h">
    <button
      class="base-button"
      [disabled]="isSelectedQuestionFirst()"
      (click)="fetchPreviousQuestion()"
    >
      Předchozí otázka
    </button>
    <button
      class="base-button"
      [disabled]="isSelectedQuestionLast()"
      (click)="fetchNextQuestion()"
    >
      Další otázka
    </button>
  </div>

  <div *ngIf="selectedQuestion !== null" class="flex-v">
      <div *ngFor="let answer of answers; let aIndex = index;">
        <app-answer
          [answer]="answer"
          [answerIndex]="aIndex"
          [question]="selectedQuestion"
        ></app-answer>
    </div>
  </div>

  <div class="flex-h">
    <button
      class="base-button"
      [disabled]="isSelectedQuestionFirst()"
      (click)="fetchPreviousQuestion()"
    >
      Předchozí otázka
    </button>
    <button
      class="base-button"
      [disabled]="isSelectedQuestionLast()"
      (click)="fetchNextQuestion()"
    >
      Další otázka
    </button>
  </div>
</div>
