.answer-text {
  margin: 0 0.5rem;
}

.answer-correct {
  background: lightgreen;
}

.answer-incorrect {
  background: mistyrose;
}

.flex-h {
  border: 1px lightblue solid;
}

@media (max-width: 800px) {
  .flex-h {
    flex-flow: column;
    justify-content: center;
    text-align: center;
  }
}
