div {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.app-title {
  background: url("../app/resources/img/title.png") no-repeat center
    center/contain;
  width: 80%;
  height: 20vh;
  z-index: 10;
}

.flex-h {
  background-color: rgba(0, 0, 0, 0);
}
